<div class="row">
  <div class="col-sm-12">
  <% @photos.each do |photo| %>
    <div class="box">
      <a class="bottom" href="gallery/<%= photo.slug %>" >
          <img src="<%= photo.image.thumb('300x200#').url %>" />
      </a>
    </div>
  <% end %>
  </div>
</div>

<div class="hide">
  <% @thumbnails.each do |photo| %>
      <a class="bottom" href="gallery/<%= photo.slug %>" >
          <img src="<%= photo.image.thumb('300x200#').url %>" />
      </a>
  <% end%>
</div>


<script>
	jQuery(document).ready(function($) {
		
    var thumbnails = <%= @thumbnails %>
    var curr = 13;   
    var numberOfBoxes = jQuery(".box").size();

    // preload images
    jQuery.each(thumbnails, loadImage);
    function loadImage(key,value){
      jQuery.ajax(value.url);
    }


    // create random ordered indexes
    var list = [];
    for (var i = 0; i < numberOfBoxes; i++) {
        list.push(i);
    }
    function randOrd(){
      return (Math.round(Math.random())-0.5);
    }
    list.sort(randOrd);

    // function for getting the next random image
    var i = 1;
    function nextImage(){
      i = (i + 1) % numberOfBoxes;
      return list[i];
    }

    timer = 3000;
     setTimeout(swapImage,timer);

      // get a random url and swap the image
      function swapImage(){
        curr = (curr + 1) % thumbnails.length;
        url = thumbnails[curr].url;
        slug = thumbnails[curr].slug;

        //pick a random box
        var random = Math.round(Math.random()*numberOfBoxes);
        randomBox = jQuery(".box").eq(nextImage());
         
        html = '<a class="top" href="gallery/'+slug+'"><img src="'+url+'"/></a>';       
        $(html).hide().appendTo(randomBox);
        randomBox.find(".top").fadeIn(2000,removeOldImage);                            

        // remove the old image
        function removeOldImage(){
          randomBox.find(".bottom").remove();
          randomBox.find(".top").attr('class', 'bottom');
        }
        //recurse into this function to do it all again
        setTimeout(swapImage, timer);

      }
      
    });

</script>

