
<%= partial '_splash' %>

<div class="row">
  <div class="col-sm-12">
  <% @photos.each do |photo| %>
    <div class="box">
      <div class="picture">
        <a href="/<%= photo.slug %>" >
          <img src="<%= photo.image.thumb('300x200#').url %>" alt="<%= photo.caption %>" />
        </a>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="hide">
  <% @fadein_photos.each do |photo| %>
    <div class="picture picturelist">
      <a href="/<%= photo.slug %>" >
        <img src="<%= photo.image.thumb('300x200#').url %>" alt="<%= photo.caption %>" />
      </a>
    </div>
  <% end %>
</div>



