
<% if !session[:no_splash] %>
  <%= partial 'splash' %>
<% end %>


<div class="row">
  <div class="col-sm-12">
  <% @photos.each do |photo| %>
    <div class="box">
      <div class="picture">
        <a href="gallery/<%= photo.slug %>" >
          <img src="<%= photo.image.thumb('300x200#').url %>" />
        </a>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="hide">
  <% @fadein_photos.each do |photo| %>
    <div class="picture picturelist">
      <a href="gallery/<%= photo.slug %>" >
          <img src="<%= photo.image.thumb('300x200#').url %>" />
      </a>
    </div>
  <% end %>
</div>

<script type="text/javascript" src="<%= javascript_path 'app'%>"></script>


