<!DOCTYPE html>
<html>
  <head>
    <title>Two Mushrooms (Photography Project by Elliott Hilaire)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm a software developer from Brisbane. When I'm outside I will either be on a bike or pestering insects for their photo.">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- load css from sinatra-assetpack -->
    <%= css :app, :media => 'screen' %>

    <%= partial '_social_meta_tags' %>
  </head>
  <body>
    <!-- load js from sinatra-assetpack -->
    <!-- this needs to stay near the top of the file until js is moved out of html -->
    <%= js :app %>

    <div id="top"></div>
    <div class="container">
      <%= partial '_nav' %>
      <%= yield %>
    </div>

    <%= partial '_tracking_tags' %>

  </body>
</html>
